
body{
  background-color:  #FFFFFF;
  font-family: "Font";
  src: url("./Inter-Regular.ttf");
}
.submit1{
  border-radius: 10px;
  border: 1px solid #FFD43A;
  color: black;
  width: 115px;
  height: 36px;
  background-color: #FFD43A;
}
.submit2{
  border-radius: 10px;
  border: 1px solid #000000;
  color: white;
  width: 285px;
  height: 36px;
  background-color: #000000;
}
.submit3{
  border-radius: 10px;
  border: 1px solid #B43AFF;
  color: white;
  width: 336px;
  height: 36px;
  background-color: #B43AFF;
}
.submit4{
  border-radius: 10px;
  border: 1px solid #E9E9E9;
  color: black;
  width: 441px;
  height: 36px;
  background-color: #E9E9E9;
}
.submit5{
  border-radius: 10px;
  border: 1px solid #FFD43A;
  color: black;
  width: 559px;
  height: 36px;
  background-color: #FFD43A;
}
.submit1:hover{
  background-color:  #8CFF98;
  border: #8CFF98;
}
.submit2:hover{
  background-color:#D3D3D3 ;
  border: #D3D3D3;
}
.submit3:hover{
  background-color:  #FF3AE0;
  border:  #FF3AE0;
}
.submit4:hover{
  background-color: #ABABAB;
  border: #ABABAB;
  border-radius: 2px;
}
.submit5:hover{
  background-color:  #FFD43A;
  border: #FFD43A;
  border-radius: 30px;
}

